<h4>Show items in cart</h4>
<h3>Total item count: {{totalItemCount}}</h3>
<h3>Total Cost: ${{totalCost}}</h3>
{{#each shoppingCart.products as |item|}}
  {{item.title}}--{{item.cost}}
  <button {{action "remove" item}}>Remove Item</button>
  <hr>
{{/each}}
