<div class="jumbotron">
  <h4>{{product.title}}</h4>
  <h4>{{product.cost}}</h4>
  <p>
    {{product.description}}
  </p>
  <img src={{product.image}} alt={{product.title}}/>
  <button {{action 'destroyProduct'}}>Delete</button>
  <hr>

</div>
